---
import Layout from "@/layouts/Layout.astro";
import BlogList from "@/sections/BlogList.astro";
import Hero from "@/sections/Hero.astro";
import Schedule from "@/sections/Schedule.astro";
---

<Layout title="Inicio">
  <Hero />
  <BlogList />
  <div class="px-6 pb-24 mx-auto max-w-7xl lg:px-8">
    <Schedule />
  </div>
</Layout>
