---
import MatchesList from "@/components/MatchesList.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import { matches } from "@/content/schedule";
---

<section id="blog" class="relative">
  <SectionTitle title="Próximos partidos - Femenil" color="#a80060" />
  <MatchesList matches={matches.femenil} />
</section>
