---
import MatchesList from "@/components/MatchesList.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import { matches } from "@/content/schedule";
---

<section id="blog" class="relative">
  <div class="px-6 pb-24 mx-auto max-w-7xl lg:px-8">
    <SectionTitle title="Próximos partidos" color="#ffa8a8" />
    <MatchesList matches={matches.femenil} />
  </div>
</section>
