---
import Layout from "@/layouts/ChivasFemenil/Layout.astro";
import Hero from "@/sections/ChivasFemenil/Hero.astro";
import Players from "@/sections/ChivasFemenil/Players.astro";
import Schedule from "@/sections/ChivasFemenil/Schedule.astro";
---

<Layout title="Inicio-Femenil">
  <Hero />
  <div class="px-6 pb-24 mx-auto max-w-7xl lg:px-8">
    <Schedule />
  </div>
</Layout>
