---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Players from "@/sections/Players.astro";
---

<Layout title="Jugadores - Chivas">
  <div class="mt-20">
    <Players />
  </div>
</Layout>
