---
import BlogCard from "@/components/BlogCard.astro";
import BubbleBackground from "@/components/BubbleBackground.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import { blogEntries } from "@/content/blog";
---

<section id="blog" class="relative">
  <div class="px-6 pt-12 pb-24 mx-auto max-w-7xl lg:px-8">
    <SectionTitle title="Últimos Posts" />
    <div>
      <div
        class="view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_0%_cover_20%] grid scroll-mt-[31rem] grid-cols-1 sm:grid-cols-2 gap-8 pt-10 sm:mt-4 md:scroll-mt-[34rem] lg:scroll-mt-[26rem] lg:grid-cols-6"
        id="info"
      >
        {blogEntries.map((entry) => <BlogCard {...entry} />)}
      </div>
    </div>
  </div>
</section>
